{% load static %}

<div class="card mb-3">
    <div class="card_image">
        <div class="card_overlay">

        </div>
        <img src="media/{{post.image}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <div class="card_body__top d-flex justify-content-between align-items-center">
            <a href="{% url 'core:get_user' user_name=post.posted_user.username %}" class="card_image__profile">
                <div class="card_image__avatar">
                    {% if post.user.avatar != "" %}
                    <img src="/media/{{post.posted_user.avatar}}" alt="{{post.posted_user.username}} Profile">
                    {% else %}
                    <img src="{% static 'img/default-profile.png' %}" alt="{{post.posted_user.username}} Profile">
                    {%endif%}
                </div>
                {{post.posted_user.username}}
            </a>
            <span class="card_date">{{post.created_date | date}}</span>
        </div>
        <div class="card_center my-3">
            <span class="post_likes__count">{{post.total_likes}}</b>
            <span class="card_description">{{post.description}}</span>
            {% if post.tags.all.count > 0 %}
            <div class="tags_of_post">
                {% for tag in post.tags.all %}
                <a href="{% url 'tag:detail' tag_permalink=tag.permalink %}">#{{tag.name}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="card_footer">
            <button type="button" class="post_action__btn like {% if True %}acted{% endif %}" data-url="{% url 'post:action' id=post.id action_name='like' %}"><i class="fas fa-heart"></i></button>
            <button type="button" class="post_action__btn save {% if True %}acted{% endif %}" data-url="{% url 'post:action' id=post.id action_name='save' %}"><i class="fa fa-bookmark"></i></button>
        </div>
    </div>
</div>

