.app_content{
    min-height: 100vh;
}
.card_image{
    position: relative;
}
.card_overlay{
    position: absolute;
    top:10px;
    left: 10px;
}
.card_image__avatar{
    border-radius: 50%;
    margin-right: 4px;
    width: 32px;
    height: 32px;
}
.card_image__avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_image__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    color:#000;
    text-decoration: none;
}

.card_description{
    font-size: 20px;
    color: rgb(46, 46, 46);
}
.profile_avatar {
    padding: 50px;
}
.profile_avatar img{
    width: 100%;
    object-fit: cover;
}

.profile_statistics{
    margin:0px 0 0px 0px;
}
.profile_statistics ul{
    display:flex;
    list-style:none;
    justify-content:space-between;
    padding:0;
}
.profile_statistics ul li{
    margin-right:10px;
}
.profile_statistics ul li span{
    font-weight:bold;
}
.profile_posts{
    display: flex;
    justify-content: center;
}

.post_action__btn{
    
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}
.post_action__btn i{
    font-size: 24px;
    color: rgb(160, 160, 160);
}
.post_action__btn.like.acted i{
    color:rgb(168, 0, 0);
}

.post_action__btn.save.acted i{
    color:rgb(46, 46, 46);
}

.post_card__img{
    height: 300px;
    object-fit: cover;
}

.profile_avatar{
    position: relative;
}
.profile_avatar__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_avatar__overlay button{
    border:none;
    background:#000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile_avatar__overlay button i{
    color: #fff;
    font-size: 32px;
}

a.deco-none {
    color:#000000 !important;
    text-decoration:none;
}