{% extends "account_profile_base.html" %}
{% block pageTitle %}Edit Profile{% endblock %}
{% load static %}


{% block content_sub %}
<form action="{% url 'account:change_password' %}" method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="form-group mb-2">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password" class="form-control" name="old_password" aria-describedby="old_password" required >
    </div>
    <div class="form-group mb-2">
        <label for="password" class="form-label">New Password</label>
        <input type="password" class="form-control" name="password" aria-describedby="password" required >
    </div>
    <div class="form-group mb-2">
        <label for="password_repeat" class="form-label">New Password (Repeat)</label>
        <input type="password" class="form-control" name="password_repeat" aria-describedby="password_repeat" required >
    </div>

    <input type="submit" class="btn btn-danger mt-2" value="Update">
</form>

{% endblock %}

{% block my_scripts %}

{% endblock %}