{% extends "account_profile_base.html" %}
{% block pageTitle %}Following Requests{% endblock %}
{% load static %}


{% block content_sub %}
<div>
    <ol class="list-group list-group-numbered">
        {% for req in data %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@{{req.follower.username}}</div>
                {{req.follower.first_name}} {{req.follower.last_name}}
            </div>
            
            <button type="button" class="accept_request__btn btn btn-sm {% if req.is_accepted == True %} bg-success {% else %} bg-danger {%endif%} text-white"
                data-url="{% url 'account:accept_following_request' id=req.pk %}">
                {% if req.is_accepted == True %}
                Accepted
                {% else %}
                Accept
                {%endif%}
            </button>
        </li>
        {% endfor%}
    </ol>
</div>
{% endblock %}

{% block my_scripts %}
<script>
    $(".accept_request__btn").click(function () {
        var $button = $(this);
        var form_url = $(this).data("url");
        $.ajax({
            url: form_url,
            method: "POST",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                if (data=="True"){
                    $button.removeClass("bg-danger").addClass("bg-success")
                    $button.text("Accepted")
                }
                else if(data=="False"){
                    $button.removeClass("bg-success").addClass("bg-danger")
                    $button.text("Accept")
                }
            }
        });

    });
</script>
{% endblock %}