{% extends "base.html" %}
{% load static %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block content %}

{% if posts|length > 0 %}
<div class="row">
    <div class="col-md-8">
        {% for post in posts %}
        {% include "post/partials/_post.html" with post=post %}
        {%endfor%}
    </div>
    <div class="col-md-4">
        <div class="sidebar_card">
            <a href="{% url 'core:get_user' user_name=user.username %}"
                class="deco-none card_top d-flex justify-content-between">
                <div>
                    <h5 class="card-title">{{user.first_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
                </div>
                <img width="50" height="50"
                class="rounded-circle"
                    src="/media/{% if user.avatar != None and user.avatar != '' %}{{user.avatar}}{% else %}profile/default.png{% endif %}"
                    alt="">
            </a>
        </div>
        {% if newUsers.count > 0 %}
        <div class="sidebar_card">
            <h2 class="sidebar_title">Others</h2>
            <div class="suggested_users__list mt-3">
                {% for user in newUsers %}
                <div class="suggested_user__card">
                    <div class="d-flex align-items-center">
                        <img width="32" height="32" class="suggested_user__img rounded-circle"
                            src="/media/{% if user.avatar != None and user.avatar != '' %}{{user.avatar}}{% else %}profile/default.png{% endif %}"
                            alt="">
                        <span class="suggested_user__name">@{{user.username}}</span>
                    </div>
                    <a href="{%url 'core:get_user' user_name=user.username%}">See</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if tags.count > 0 %}
        <div class="sidebar_card">
            <h2 class="sidebar_title">Popular Tags</h2>
            <ul class="home_tag__list mt-3">
                {% for tag in tags %}
                <li><a href="{% url 'tag:detail' tag_name=tag.name %}">{{tag.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<p>No posts</p>
{% endif %}

{% endblock %}