{% extends "base.html" %}
{% load static %}
{% load unicode_data %}
{% block pageTitle %}{{user.username}} Profile{% endblock %}


{% block content %}

{% url 'core:get_user' user_name=profile_user.username as posts_url %}
{% url 'core:saved_posts_of_user' user_name=profile_user.username as saved_posts_url %}
{% url 'core:liked_posts_of_user' user_name=profile_user.username as liked_posts_url %}

{% url 'core:get_followers_of_user' user_name=profile_user.username as followers_url %}
{% url 'core:get_followings_of_user' user_name=profile_user.username as followings_url %}

<section class="container">
    <div class="row align-items-center">
        <div class="col-md-4 profile_avatar">
            {% if user.is_authenticated and profile_user == user %}
            <div class="profile_avatar__overlay">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#profileAvatarUploadModal">
                    <i class="fas fa-camera"></i>
                </button>
            </div>
            {% endif %}

            {% if profile_user.avatar != "" %}
            <img width="200" height="200" src="/media/{{profile_user.avatar}}" alt="{{profile_user.username}} Profile">
            {% else %}
            <img width="200" height="200" src="{% static 'img/default-profile.png' %}"
                alt="{{profile_user.username}} Profile">
            {%endif%}
        </div>
        <div class="col-md-8 profile_content">
            <div class="profile_top d-flex justify-content-between">
                <h1>@{{profile_user.username}}</h1>
                <div class="profile_top__actions">
                    {% if user.is_authenticated == True and user == profile_user %}
                    <a href="{% url 'account:profile' %}">Edit Profile</a>
                    {% else %}
                    <button type="button" id="follow_to_user" class="btn btn-primary mr-2"
                        data-url="{% url 'core:follow_user' to_user_name=profile_user.username %}">
                        {%if userFollowingType == 'accepted' %}
                        Following
                        {%elif userFollowingType == 'not-following' %}
                        Follow
                        {%else%}
                        Pending
                        {%endif%}
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="profile_statistics mt-2">
                <ul>
                    <li><span>{{posts|length}}</span> Posts</li>
                    <li><a href="{% url 'core:get_followings_of_user' user_name=profile_user.username %}"
                            role="link"><span>{{followings_of.count}}</span> Following</a></li>
                    <li><a href="{% url 'core:get_followers_of_user' user_name=profile_user.username %}"
                            role="link"><span>{{followers_of.count}}</span> Followers</a></li>
                </ul>
            </div>
            {% if profile_user.about_me != None and profile_user.about_me != "" %}
            <p>{{profile_user.about_me}}</p>
            {% endif %}
            {% if profile_user.website_url != None and profile_user.website_url != "" %}
            <a class="" href="{{profile_user.website_url}}" target="_blank">{{profile_user.website_url}}</a>
            {% endif %}
        </div>
        <div class="col-md-12">
            <ul class="nav nav-tabs profile_tabs" id="profile_tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="{% url 'core:get_user' user_name=profile_user.username %}"
                        class="nav-link {% if request.path == posts_url|getStringFromUnicode %}active{% endif %}" id="home-tab" role="tab"
                        aria-controls="home" aria-selected="true">Posts</a>
                </li>
                {% if user.is_authenticated and profile_user == user%}
                <li class="nav-item" role="presentation">
                    <a href="{% url 'core:saved_posts_of_user' user_name=profile_user.username %}"
                        class="nav-link {% if request.path == saved_posts_url|getStringFromUnicode %}active{% endif %}" id="saved_posts-tab"
                        role="tab" aria-controls="saved_posts" aria-selected="false">Saved</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="{% url 'core:liked_posts_of_user' user_name=profile_user.username %}"
                        class="nav-link {% if request.path == liked_posts_url|getStringFromUnicode %}active{% endif %}" id="liked_posts-tab"
                        role="tab" aria-controls="liked_posts" aria-selected="false">Liked</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="profile_tabs_content">
                <div class="tab-pane fade {% if request.path != liked_posts_url|getStringFromUnicode and request.path != saved_posts_url|getStringFromUnicode %}show active{% endif %}"
                    id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% if posts|length > 0 %}
                    <div class="grid">
                        {% for post in posts %}
                        <div class="grid-item col-md-4">
                            {% include "core/partials/_post_profile.html" with post=post %}
                        </div>
                        {%endfor%}
                    </div>
                    {% else %}
                    <p>No posts from @{{profile_user.username}}</p>
                    {% endif %}
                </div>
                <div class="tab-pane {% if request.path == saved_posts_url|getStringFromUnicode %}show active{% endif %}" id="saved_posts"
                    role="tabpanel" aria-labelledby="saved_posts-tab">
                    {% if postActions.saved|length > 0 %}
                    <div class="tab_top__desc">
                        <p>{{postActions.saved|length}} posts are saved</p>
                    </div>
                    <div class="grid">
                        {% for postAction in postActions.saved %}
                        <div class="grid-item col-md-4">
                            {% include "core/partials/_post_profile.html" with post=postAction.post %}
                        </div>
                        {%endfor%}
                    </div>
                    {% else %}
                    <p>No posts have been saved yet.</p>
                    {% endif %}
                </div>
                <div class="tab-pane {% if request.path == liked_posts_url|getStringFromUnicode %}show active{% endif %}" id="liked_posts"
                    role="tabpanel" aria-labelledby="liked_posts-tab">
                    {% if postActions.liked|length > 0 %}
                    <div class="tab_top__desc">
                        <p>{{postActions.liked|length}} posts are liked</p>
                    </div>
                    <div class="grid">
                        {% for postAction in postActions.liked %}
                        <div class="grid-item col-md-4">
                            {% include "core/partials/_post_profile.html" with post=postAction.post %}
                        </div>
                        {%endfor%}
                    </div>
                    {% else %}
                    <p>No posts have been liked yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>

{% if request.path == followers_url|getStringFromUnicode or request.path == followings_url|getStringFromUnicode %}
<!-- Followers Modal -->
<div class="modal fade" id="followersModal" data-backurl="{{posts_url|getStringFromUnicode}}" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {% for follower in followers_of.list %}
                <p>{{follower.username}}</p>
                {% endfor %}
                {% if followers_of.list|length > 0 %}
                <!--Followers list-->
                {% for item in followers_of.list %}
                {% include "core/partials/_user_card.html" with user=item.follower %}
                {% endfor %}
                {% elif followings_of.list|length > 0%}
                <!-- Following list-->
                {% for item in followings_of.list %}
                {% include "core/partials/_user_card.html" with user=item.to %}
                {% endfor %}
                {% else %}
                <p>No users.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}


{% block my_modals %}
<!-- Profile Upload Avatar Modal -->
<div class="modal fade" id="profileAvatarUploadModal" tabindex="-1" aria-labelledby="profileAvatarUploadModalLabel"
    aria-hidden="true">
    <form action="{% url 'account:upload_avatar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileAvatarUploadModalLabel">Uplod an Avatar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <input type="file" class="form-control" name="avatar" accept="img/jpeg, img/jpg, img/png">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block my_scripts %}
<script src="{% static '/lib/masonry/masonry.pkgd.min.js' %}"></script>
<script>
    // Modals
    var followersModal = $('#followersModal');

    // Masonry
    var masonryGrid = $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        percentPosition: true,
        horizontalOrder: true
    })

    // When modals hidded
    followersModal.on('hidden.bs.modal', function () {
        let url = $(this).data("backurl");
        history.pushState(null, "", url); 
    })

    $(document).ready(function () {
        // show modal 
        followersModal.modal('show');

        // Masonry
        masonryGrid.masonry('layout');
    });

    $("#follow_to_user").click(function () {
        var $button = $(this);
        var form_url = $(this).data("url");
        $.ajax({
            url: form_url,
            method: "POST",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                if (data == "sent") {
                    $button.text("Pending")
                }
                else if (data == "canceled") {
                    $button.text("Follow")
                }
                else {
                    alert("There is an error. Sorry for that.")
                }
            }
        });

    });
</script>
{% endblock %}